@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./global.css";
@import "./banner.css";
@import "./components/DashBoard/Animation.css";

.bgImage {
	background-image: url("/public/assets/images/skyscraper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.dancing-script {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.jost {
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.orbitron {
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

/* spinner  */

.loader {
	border-top-color: #3498db;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Scroll styling */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #add8e6;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}


.card-container {
  perspective: 1000px;
  width: 320px;
  margin: auto;
}

.card {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
  background-color: #1E1E1E;
  color: white;
  overflow: hidden;
}

.card.front {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.card.back {
  background: #1E1E1E;
}

.card-content {
  padding: 20px;
}

.card-type {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-number {
  font-size: 1.2em;
  letter-spacing: 2px;
}

.card-holder, .card-expiry, .card-cvc {
  margin-top: 10px;
}

.card-strip {
  width: 100%;
  height: 40px;
  background: #000;
  margin-top: 20px;
}

.card-cvc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card-status {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.bg-green-500 {
  background-color: #38a169;
}

.bg-red-500 {
  background-color: #e53e3e;
}

.bg-yellow-500 {
  background-color: #d69e2e;
}

.bg-blue-500 {
  background-color: #3182ce;
}

/* responsive */

