@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./global.css";
@import "./banner.css";
@import "./components/DashBoard/Animation.css";

.bgImage {
	background-image: url("/public/assets/images/skyscraper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.dancing-script {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.jost {
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.orbitron {
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

/* spinner  */

.loader {
	border-top-color: #3498db;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Scroll styling */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #add8e6;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}
