@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./global.css";
@import "./banner.css";
@import "./components/DashBoard/Animation.css";


.bgImage {
	background-image: url("/public/assets/images/skyscraper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.dancing-script {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.jost {
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.orbitron {
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
